<div class="container">  
  <%= render 'shared/flash_notice' %>
  <div class="row text-center">

    <div class="tweet-index w-100">

      <% if user_signed_in? && current_user.active? %>
        <%= link_to 'ツイート', new_tweet_path, class: "btn btn-sm btn-outline-success mr-auto ml-auto" %>
      <% end %>

      <table class="table table-hover mt-4 mb-4">
        <tbody>
          <% @tweets.each do |tweet| %>
            <tr>
              <td class="w-25 pl-0 pr-0">
                <% if tweet.user.p_image.attached? %>
                  <%= image_tag tweet.user.p_image %>
                <% else %>
                  <%= image_tag 'big.jpg' %>
                <% end %>
                <span class="tweet-name">
                  <%= link_to tweet.user.nickname, user_path(tweet.user) %>
                </span>
              </td>
              <td class="text-left">
                <%= link_to tweet.tweet, tweet_path(tweet) %>
                <div class="tweet-date text-right de-flex justify-content-between mt-1">
                  <i class="far fa-comment-dots mr-1"></i><%= tweet.tweet_comments.count %>
                  <% if tweet.favorited_by?(current_user) %>
                    <%= link_to tweet_favorites_path(tweet), method: :delete do %>
                      <i class="fa fa-heart ml-1" aria-hidden="true" style="color: red;"></i>
                      <%= tweet.favorites.count %>
                    <% end %>
                  <% else %>
                    <%= link_to tweet_favorites_path(tweet), method: :post do %>
                      <i class="fa fa-heart-o ml-1" aria-hidden="true"></i>
                      <%= tweet.favorites.count %>
                    <% end %>
                  <% end %>
                  <i class="far fa-clock ml-1"></i> <%= tweet.created_at.strftime('%Y/%m/%d/%R') %>
                </div>
              </td>
            </tr>
          <% end %>
          </tbody>
      </table>

    </div>

    <div class="kaminari mt-4">
      <%= paginate @tweets, window: 2 %>
    </div>
  </div>
</div>