
<div class="row">
<div class="profile w-100">
  <div class="profile-top">
    <div class="profile-image mb-4">
      <% if @user.p_image.attached? %>
        <%= image_tag @user.p_image %>
      <% else %>
        <%= image_tag 'big.jpg' %>
      <% end %>
    </div>
    <div class="nickname">
      <h3><%= @user.nickname %></h3>
    </div>
    <div class="college-grade">
      <%= @user.college %> <%= "#{@user.grade}回生" %>
    </div>
  </div>
  <hr>
  <div class="introduction">
    <p>【自己紹介】</p>
    <p class="text-left">
      <%= safe_join(@user.introduction.split("\n"), tag(:br)) %>
    </p>
  </div>
  <hr>
  <% if user_signed_in? && current_user.id == @user.id %>
    <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-info btn-lg btn-block" %>
  <% end %>

</div>
</div>



