<div class="container">
  <%= render 'shared/flash_notice' %>
  <div class="row">

    <div class="attention alert alert-danger text-center">
      <div class="attention-section">
        <h1>コロナウイルス感染拡大に伴うお知らせ</h1>
        <p class="attention-text">
          この度Teeでは、このなウイルス感染者防止のため<br>
          4月に行われる新歓を1部延期します。<br>
          新歓を楽しみにされていた新入生、新規の方々<br>
          大変申し訳ありません。
        </p>
        <div class="sinkan">
          <div class="bg-white">
            <p class="attention-text text-left">
              ※《変更前》新歓開催日<br>
              4/11(土) 14:00~ ❌<br>
              4/18(土) 14:00~ ❌<br>
              4/26(日) 14:00~ ❌
            </p>
          </div>

          <i class="fas fa-angle-double-down mb-2"></i>
          <i class="fas fa-angle-double-down mb-2"></i>
          <i class="fas fa-angle-double-down mb-2"></i>
          
          <div class="bg-white yotei mb-2">
            ※《変更後》新歓開催予定日
            <p class="text-left mb-0 mt-2">
              5/10(日) 14:00~ <br>
              5/17(日) 14:00~ 
            </p>
          </div>
        </div>
        
        <p class="attention-text">
          コロナウイルスがある程度収束し、<br>
          新歓が行えるように願っています。<br>
          沢山の参加お待ちしてます！
        </p>
      </div>
    </div>

    <div class="main mb-4">
      <%= image_tag 'top.jpg' %>
      <div class="caption text-center">
        <h1>関西インカレサークルTee</h1>
        <p>毎月6日と18日と第4金曜に活動中！<br>
        当サークルは学生のみで構成しており、<br>
        近畿圏のいろんな大学の学生がいます！！<br>
        新入生に限らずまだサークルに入れてない<br>
        っていう2,3回生も募集してますよ～！</p>
        <%= link_to "詳細はこちら", about_path, class: "btn btn-light " %>
      </div>
    </div>

    <div class="embed-responsive embed-responsive-16by9 movie">
      <iframe class="embed-responsive-item" src="https://drive.google.com/file/d/1b4u3eiYC95HwN-OSi3EcvBnJSNHGdgiL/preview"></iframe>
      <div class="movie-title">
        <h4 class="text-center">
          2020年度<br>
          サークル紹介
        </h4>
      </div>
    </div>

    <div class="small mx-auto mt-1">
      再生されない場合は、右上の↗︎マークを押してください。
    </div>

    <div class="cta w-100 text-center my-4">
      <%= link_to 'ログイン', new_user_session_path, class: "btn login-btn" %>
      <%= link_to 'サインアップ', new_user_registration_path, class: "btn sign-up-btn" %>
    </div>

    <div class="text-center w-100">
      <p> 
        <i class="fas fa-angle-double-up"></i>　Teeのメンバーの方は　<i class="fas fa-angle-double-up"></i><br>
        ログインまたはサインアップしてください<br>
        <br>
        まだ所属してない方はこちら<br>
        <i class="fas fa-angle-double-down"></i>
      </p>
    </div>

    <div class="cta w-100 text-center mb-4">
      <%= link_to 'Teeについて', about_path, class: "btn about-btn" %>
      <%= link_to '活動紹介', events_path, class: "btn event-btn" %>
    </div>

    <div class="calender-index w-100">

      <div class="w-100 text-center">
        <% if user_signed_in? && current_user.executive? %>
          <%= link_to '投稿', new_event_calender_path, class: "mx-auto btn btn-sm btn-outline-dark mb-2" %>
        <% end %>
      </div>


      <%= month_calendar events: @event_calenders do |date, event_calenders| %>
        <%= date.day %>

        <% event_calenders.each do |event_calender| %>
          <div>
            <%= link_to(event_calender_path(event_calender)) do %>
              <%= image_tag 'big.jpg' %>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <div class="calender-description d-flex align-items-center px-4 mb-4 justify-content-center">
        <%= image_tag 'big.jpg', class: "calender-img"%>
        <span>：マークをタップすると活動の詳細が確認できます</span>
      </div>

    </div>

    <div class=" text-center w-100">
      <p>
        何か聞きたいことや相談がある方は<br>
        DMやLine@などで気軽にご連絡下さい。<br>
        <i class="fas fa-angle-double-down"></i>
      </p>
    </div>

    <ul class="snsbtniti2 w-100 d-flex mb-0 justify-content-between">
      <li>
        <a  href="https://twitter.com/tee_01060106" target="_blank" class="flowbtn12 fl_tw2">
          <i class="fab fa-twitter"></i><span>Twitter</span>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/tee_0106/" target="_blank" class="flowbtn12 insta_btn2">
          <i class="fab fa-instagram"></i><span>Instagram</span>
        </a>
      </li>
      <li>
        <a href="https://lin.ee/pAVUUIS" target="_blank" class="flowbtn12 fl_li2">
          <i class="fab fa-line"></i><span>LINE＠🙋‍♂️</span>
        </a>
      </li>  
      <li>
        <a href="https://lin.ee/m67IgK5" target="_blank" class="flowbtn12 fl_li2">
          <i class="fab fa-line"></i><span>LINE＠🙋‍♀️</span>
        </a>
      </li>
    </ul>

  </div>
</div>