<h1>活動詳細</h1>
<%= @event.title %><%= @event.date %>
<%= attachment_image_tag(@event, :event_image, :fill, 60, 60, format: 'jpeg') %>
<%= @event.content %>
<% if user_signed_in? && current_user.admin? %>
  <%= link_to '編集', edit_event_path %>
  <%= link_to '削除', event_path, method: :delete %>
<% end %>

<% @event.event_comments.each do |event_comment| %>
  <%= event_comment.user.nickname %>
  <%= event_comment.comment %>
  <%= event_comment.created_at.strftime('%Y/%m/%d') %>
<% end %>

<%= form_for [@event, @event_comment] do |f| %>
  <%= f.text_area :comment, placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>