
<div class="row">
  <div class="acd-content mb-4 w-100 text-center has-shadow-1">
    <h5 class="event-title mb-0">
      <%= @event.title %>
    </h5>
    <div class="event-head d-flex align-items-center mt-2 justify-content-end">
      <span class="event-date mr-2">
        <%= @event.date %>
      </span>
      <% if user_signed_in? && current_user.admin? %>
        <%= link_to '編集', edit_event_path, class: "btn btn-sm btn-outline-warning mr-2 tc-5" %>
        <%= link_to '削除', event_path, class: "btn btn-sm btn-outline-warning tc-5", method: :delete,"data-confirm" => "本当に消しますか？" %>
      <% end %>
    </div>

    <hr>

    <div class="event-image text-center">
      <% if @event.e_image.attached? %>
        <%= image_tag @event.e_image %>
      <% end %>
    </div>

    <hr>
    
    <div class="event-content">
      <p>【活動内容】</p>
      <p class="text-left"><%= safe_join(@event.content.split("\n"), tag(:br)) %></p>
    </div>
  </div>

  <div class="comment-section text-center w-100">

    <div class="comment-count">
      <%= "【コメント：#{@event.event_comments.count}件】" %>
    </div>

    <div class="comment-content">
      <% @event.event_comments.each do |event_comment| %>
        <div class="comment">
        <hr>
          <div class="comment-body">
            <div class="comment-top d-flex flex-row align-items-center mb-2">
              <div class="comment-avatar mr-3">
                <div class="avatar">
                  <% if event_comment.user.p_image.attached? %>
                    <%= image_tag event_comment.user.p_image %>
                  <% else %>
                    <%= image_tag 'big.jpg' %>
                  <% end %>
                </div>
              </div>
              <div class="comment-nickname">
                <%= link_to event_comment.user.nickname, user_path(event_comment.user) %>
              </div>
            </div>
            <div class="commnt-bottom">
              <div class="comment-text d-flex flex-row align-items-center mb-2">
                <i class="far fa-comment-dots mr-3 ml-3"></i>
                <span class="mr-auto"><%= safe_join(event_comment.comment.split("\n"), tag(:br)) %></span>
                <% if user_signed_in? && current_user.id == event_comment.user_id %>
                  <%= link_to "削除", event_event_comment_path(event_comment.event.id, event_comment.id), method: :delete, "data-confirm" => "本当に消しますか？", class: "delete ml-2 mr-2 btn btn-sm btn-warning" %> 
                <% end %>
              </div>
              <div class="comment-date d-flex flex-row align-items-center">
                <i class="far fa-clock mr-3 ml-3"></i>
                <%= event_comment.created_at.strftime('%Y/%m/%d/%R') %>
              </div>
            </div>
          </div>
          
        </div>
        
      <% end %>
      <hr>
    </div>
  </div>

  <% if user_signed_in? %>
    <div class="comment-form text-center">
      <div class="mb-2">【コメントフォーム】</div>
        <%= form_for [@event, @event_comment] do |f| %>
          <div class="d-flex">
            <%= f.text_area :comment, placeholder: "コメントをここに", class: "text-area flex-grow-1 mr-2" %>
            <%= f.submit "送信する", class: "btn btn-warning mb-2" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  
</div>
