<div class="row">
  <div class="has-shadow-1 w-100 mt-4">
    <div class="form-header text-center pt-4 pb-4">
      <h2 class="mb-0">ユーザーログイン</h2>
    </div>
    

    <div class="form-body">
      <div class="text-center">
        <p>メールアドレスと<br>パスワードを入力してください。</p>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.submit "サインイン", class: "btn btn-lg btn-block btn-primary" %>
        </div>
      <% end %>

      <%= link_to 'ユーザー登録', new_user_registration_path %>
    </div>
  </div>
</div>
