<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>TeeOfficialSite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/5e26fc7eea.js" crossorigin="anonymous"></script>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
  </head>

  <body>
    <%= render 'shared/header' %>

    <div class="container">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key} alert alert-success") %>
      <% end %>
      <%= yield %>
    </div>

  <div class="footer text-center bg-light p-4 border-top border-bottom w-100">
    © 2020 created by Gaito
  </div>

  </body>
</html>
